/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #ffffff;
    width: 878px;
    padding: 34px;
}
/* top players style */
.section-title{
    color: #562eff;
    font-size: 24px;
}
.players{
    display: grid;
    /* grid-template-columns: repeat(1fr, 1fr, 1fr); */
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 58px;
    width: 58px;
}
.player-name{
    margin-left: 17px;
}